{{!-- This card will be rendered to show the summery of each project in a category --}}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{project.image_URL}}">
    <div class="card-body">
        <h5 class="card-title">{{project.issue}}</h5>
        <h6>{{project.category}}</h6>
        <p class="card-text">{{project.instructions}}</p>
        <a href="" class="btn btn-primary">THIS NEEDS A LINK</a>
    </div>
</div>

{{! --}}