<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RE:vamp - Make stuff better </title>
    <link rel="shortcut icon" href="/assets/images/fav.png" type="image/x-icon">  

        <!-- ======= StyleSheets ======== -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styleHeader.css">
    <link rel="stylesheet" href="/css/jass.css">

        <!-- ======= Google fonts ======== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,200;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img class="topImage" src="/assets/images/placeholder.png" width="680px"></img>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Electrical</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Wood Working</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/project/botany">Botany</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/project/painting">Painting</a>
            </li>

            {{#if logged_in}}
            <a href="/profile">profile</a> |
            <button class="no-button" id="logout">logout</button>
            {{else}}
            <a href="/login">login</a>
            {{/if}}
            
        </ul>

    </header>
    <!-- ============================ -->

<div class="justify-content-center">
                {{{ body }}}
</div>

    <!-- ============================ -->
    <footer class="justify-content-center">
        <div class="justify-content-center">
            <p>
                We acknowledge the Traditional Owners and Custodians of the lands on which we work <br> and pay our respects to Indigenous Elders past, present and emerging.
            </p>
        </div>
    </footer>

</body>
<!-- ==== Scripts ==== -->
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}

</html>