<!-- TODO: Display the Project details -->
  <h2>Botany</h2>
  <p>Going Green</p>
  
<ul>
    {{#each projects as |project|}}
    <img src="{{img_URL}}">Image</img>
    <li>{{project.issue}}</li>
    <div>{{{project.instructions}}}</div><br>
    <div>Difficulty: {{project.difficulty}}</div><br><br>
    {{/each}}
  </ul>

  {{#if logged_in}}
  <body>
  {{!-- {{#if 'project/2'}} --}}
  <p><a href='/project/1/add_tip'>add your tip here!</a></p>
  </body>
  <script src="/js/logout.js"></script>
  {{/if}}


