<!-- TODO: Display the Project details -->
  <h2>Botany</h2>
  <p>Going Green</p>
  <p>{{{dataValue.instructions}}}</p>
  <ol>
    <li><a href='project/1/1'>How to fix a leaky faucet.{{dataValues.issue}}</a></li>
    <li>How to unclog a shower drain.</li>
    <li>How to seal a cracked pipe.</li>
    <li>How to stop the roof from leaking.</li>
  </ol>
</div>

  {{#if logged_in}}
  <body>
  {{!-- {{#if 'project/2'}} --}}
  <p><a href='/project/1/add_tip'>add your tip here!</a></p>
  </body>
  <script src="/js/logout.js"></script>
  {{/if}}


