<!-- TODO: Loop over each Project and output the name, funding needed, User name, created date and description -->
<div class="row mb-4 project">
  <div class="col-md-5" id="homepageText">
    <h3>Welcome to REvamp</h3>
    <br>
    <p>Traditional capitalism has done a spectacular job of convincing us that once something's broken, it's time to buy something new to replace it.
      <br><br>
      REvamp’s mission is to create a highly shareable way to connect our community of fixers with new ways to repair, rebuild and improve everyday things in their lives.<br>
      Why throw it out when you can fix it? 
      And how can I make something better?
    </p>
  </div>
  <div class="col-md-5">
    <img id="pic1" src="/assets/images/paint004.png" width="250px"></img>
    <img id="pic2" src="/assets/images/plum002.png" width="250px"></img>
    <img id="pic3" src="/assets/images/wood004.png" width="250px"></img>
    
  </div>
</div>
