<!-- TODO: Loop over each Project and output the name, funding needed, User name, created date and description -->
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2><a href="/project/1">Painting</a></h2>
    <h2><a href="/project/2">Woodworking</a></h2>
    <h2><a href="/project/3">Plumbing</a></h2>
    <h2><a href="/project/4">Electrical</a></h2>
    <h2><a href="/project/5">Botany</a></h2>
  </div>
 </div>



{{!-- <div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/project/3">Plumbing</a>
    </h2>
  </div>
  <div class="col-md-7">

  </div>
</div> --}}
