
<!-- TODO: Display the Project details -->

  <div id="projectHead">
  <h2>Woodworking</h2>
  <p>Knock, knock</p>
  <br>
  <p>Don't lose your cool! <br>
  Try these fun woodworking projects today!</p>
  </div>
  
  {{#each projects as |project|}}
  <div id="projectBox">
    <ul>
      <br>
      <li><h3>{{project.issue}}</h3></li>
      <br>
      <img id="projectPic" src="{{img_URL}}" width="250px"></img>
      <div>{{{project.instructions}}}</div><br>
      <div>Difficulty: {{project.difficulty}}</div><br><br>
    </ul>
    <img src="/assets/images/user.png" width="50px"></img>
    <p>Tip added by: Billy Bob</p>
  </div>

  {{/each}}

  {{#if logged_in}}
  <div>
  <p><a href='/addUserTip'>Add your tip here!</a></p>
  </div>
  <script src="/js/logout.js"></script>
  {{/if}}
